
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear <%= @user.email %>,</p>
    <p>Recently the confirmation logic for the Daily Dharma website was changed. Sadly
       this introduced a bug that prevented users from confirming their emails. I sincerely
       regret this problem, but must ask again for you to confirm your email address, even
       if you have already done so recently.
    </p>
    <p>
       You will soon receive another email asking you to confirm your email address to continue
       receiving Daily Dharma emails. Just click the link in that email and you should be
       getting the emails again the next day.
    </p>
    <p>
       Thank you again for your patience, and I hope you are finding the Daily Dharma emails useful.
    </p>
    <p>Shinkyo Will Warner</p>
  </body>
</html>
